<%- include('components/Navbar') %>

    <div>
        <h2 class="text-[100px] text-center mt-[100px]">404</h2>
        <p class="text-center italic opacity-80 text-[20px]">Page is not found!</p>
        <center>
            <a href="/" class="focus:outline-none opacity-100 text-white bg-[#7000FF] focus:ring-4 focus:ring-purple-300 font-medium rounded-md text-sm px-5 py-2.5 mb-2 mt-[40px] w-[100px] shadow-md absolute ml-auto mr-auto left-0 right-0">Back</a>
        </center>
    </div>